<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <title>Hero Finder</title>
</head>
<body>
    <div id="main">
        <div id="panel">
            <div id="text">
        <h1>Hero Finder</h1>
        <p>Find Your Hero</p><br><br>
        <a id="button"" href="/survey">Go Survey!</a>
        <a id="button2"" href="/api/heroes">API HEROES!</a>
    </div>
    </div>
    </div
</body>
</html>