body {
  background-image: url(./h.jpg);
}
span {
  margin: 14px 1px 0 403px;
  color: black;
  font-size: xx-large;
  font-family: serif;
  border: 2px solid;
  position: absolute;
  z-index: 10;
}



#survey {
  width: 580px;
  background-color: azure;
  position: absolute;
  margin: 22px 0 0 453px;
  text-align: center;
}
#sbtn {
  position: absolute;
  margin: 357px 0 0 323px;
  width: 185px;
  height: 46px;
  font-size: 34px;
  background-color: initial;
}
#main {
  background-color: aquamarine;
  color: azure;
  width: 929px;
  height: 480px;
  position: absolute;
  opacity: 0.6;
  margin: -15px 0 0 307px;
}

#panel {
  background-color: cornflowerblue;
  color: azure;
  width: 797px;
  height: 383px;
  position: absolute;
  margin: 34px 0 0 71px;
}

#text {
  position: absolute;
  text-align: center;
  margin: 7px 0 0 229px;
  font-size: xx-large;
  color: black;
}

#button{
  position: absolute;
    margin: 82px 0 0 -86px;
}

#button2{
  position: absolute;
    margin: 71px 0 0 231px;
    font-size: smaller;
}